# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
backend/data/
*.db
*.sqlite3
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
/build/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
